.header {
  border-bottom: 1px solid #6a5b3e;
  position: absolute;
  z-index: 10;
  width: 100%;
  background: rgba(51, 44, 36, 0.6);
}
.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
}